<div class="backGround">
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/OTPMob" method="POST" onsubmit="return varification()">
      <p id="alert_message" class="text-danger"></p>
      

      <input
        type="text"
        placeholder="Mobile No"
        name="mobileNo"
        type="email"
        
      />

      
      <button type="submit">Send OTP</button>
      <p class="message"><a href="/login">Ihave allredy an account</a></p>
    </form>
        </div>
    </div>
</div>