<link rel="stylesheet" href="/stylesheets/success.css" />



<section>
    <div class="main">

        <div class="container">

    <div class="row">

      <div class="raper">
        <div class="col-4 contentRaper">
            <div>
                <img src="images/success.png" alt="" />
          <h4>Order Placed Successfully</h4>
          <p>Thank You For Purchasing <br> The Order Was Successfully Placed</p>
          
          <a href="/ordersView"><button>Go to Orders</button></a>
            </div>
          
        </div>

      </div>

    </div>

  </div>

    </div>

    
  
</section>


