<link rel="stylesheet" href="/stylesheets/singleProductView.css" />

<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="subImage">
        <div>
            <div class="imgContainer">
            <img src="images/pouches.svg" alt="" />
          </div>

          <div class="imgContainer">
            <img src="images/pouches.svg" alt="" />
          </div>

          <div class="imgContainer">
            <img src="images/pouches.svg" alt="" />
          </div>
          <div class="imgContainer">
            <img src="images/pouches.svg" alt="" />
          </div>
          </div>

      </div>

    </div>
    <div class="col-4 ">

        <div class="main">
            <div class="singleImage">
              h  {{!-- <img src="images/pouches.svg" alt=""> --}}
            </div>
        </div>



    </div>
    <div class="col-6">h</div>
  </div>
</div>