.imgCont{
    width: 100px;
    height: 120px;
    
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCont img{
    width: 90px;
    height: 110px;

}

.searchButtonStyle{
    border: none;
    background-color:transparent

    
}